In [1]:
import pandas as pd
import numpy as np
import pickle
from getpass import getpass
import pymysql
import sqlalchemy as alch
import cryptography

In [2]:
df_movies_limpio = pd.read_csv("datos/df_movies_limpio.csv")
df_libros = pd.read_csv("datos/df_libros.csv")

contraseña = getpass("Introduce tu contraseña:")

In [3]:
bbdd = "Proyecto_ETL"
conexion = f"mysql+pymysql://root:{contraseña}@localhost/{bbdd}"
engine = alch.create_engine(conexion)

In [4]:
df_movies_limpio.head(1)

,Unnamed: 0,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,28341469.0

In [5]:
for index, row in df_movies_limpio.iterrows():
        
        idPeliculas = engine.execute(f"""select Series_Title from peliculas WHERE idPeliculas = "{row['Series_Title']}";""")

        if len(list(idPeliculas)) > 0:
                print("Esta id ya existe")
        else:
                try:
                        engine.execute(f"""
                                INSERT INTO peliculas (Series_Title, Released_Year, Runtime, Genre, Overview, Gross) VALUES
                                ("{row['Series_Title']}", "{row['Released_Year']}", "{row['Runtime']}", "{row['Genre']}", "{row['Overview']}", "{row['Gross']}");""")
                
                except:
                
                        pass

Esta id ya existe
Esta id ya existe
Esta id ya existe
Esta id ya existe
Esta id ya existe

In [6]:
query = """SELECT * FROM proyecto_etl.peliculas"""
sql = pd.read_sql(query, engine)

In [7]:
sql

,idPeliculas,Series_Title,Released_Year,Runtime,Genre,Overview,Gross,Casting_idCasting,Libros_idLibros,Rating_idRating
0,1,The Shawshank Redemption,1994,142 min,Drama,Two imprisoned men bond over a number of years...,28341469.0,None,None,None
1,2,The Shawshank Redemption,1994,142 min,Drama,Two imprisoned men bond over a number of years...,28341469.0,None,None,None
2,3,The Godfather,1972,175 min,"Crime, Drama",An organized crime dynasty's aging patriarch t...,134966411.0,None,None,None
3,4,The Dark Knight,2008,152 min,"Action, Crime, Drama",When the menace known as the Joker wreaks havo...,534858444.0,None,None,None
4,5,The Godfather: Part II,1974,202 min,"Crime, Drama",The early life and career of Vito Corleone in ...,57300000.0,None,None,None
...,...,...,...,...,...,...,...,...,...,...
527,528,Close Encounters of the Third Kind,1977,138 min,"Drama, Sci-Fi","Roy Neary, an electric lineman, watches how hi...",132088635.0,None,None,None
528,529,The Long Goodbye,1973,112 min,"Comedy, Crime, Drama",Private investigator Philip Marlowe helps a fr...,959000.0,None,None,None
529,530,Kelly's Heroes,1970,144 min,"Adventure, Comedy, War",A group of U.S. soldiers sneaks across enemy l...,1378435.0,None,None,None
530,531,The Jungle Book,1967,78 min,"Animation, Adventure, Family",Bagheera the Panther and Baloo the Bear have a...,141843612.0,None,None,None
531,532,From Here to Eternity,1953,118 min,"Drama, Romance, War","In Hawaii in 1941, a private is cruelly punish...",30500000.0,None,None,None