In [1]:
import pandas as pd
import numpy as np
import pickle
from getpass import getpass
import pymysql
import sqlalchemy as alch
import cryptography

In [2]:
df_movies_limpio = pd.read_csv("datos/df_movies_limpio.csv")
df_libros = pd.read_csv("datos/df_libros.csv")

contraseña = getpass("Introduce tu contraseña:")

In [3]:
bbdd = "proyecto_etl"
conexion = f"mysql+pymysql://root:{contraseña}@localhost/{bbdd}"
engine = alch.create_engine(conexion)

In [4]:
df_libros["Autor_libro"].fillna("No info", inplace=True)
df_libros["Nota_promedio_libro"].fillna(0, inplace=True)
df_libros["Votos_libro"].fillna(0, inplace=True)

In [5]:
df_directores = pd.DataFrame(df_movies_limpio["Director"].unique()).reset_index()
df_directores.rename(columns={"index":"ID_Directores"}, inplace = True)

In [6]:
df_autores = pd.DataFrame(df_libros["Autor_libro"].unique()).reset_index()
df_autores.rename(columns={"index":"ID_Autores"}, inplace = True)
df_libros_limpio = pd.merge(df_autores,df_libros, how = "inner", left_on = 0, right_on = "Autor_libro")
df_libros.rename(columns ={"Unnamed: 0":"ID_Libros"}, inplace = True )
df_movies_limpio.rename(columns ={"Unnamed: 0":"ID_Rating"}, inplace = True )
df_libros_limpio = pd.merge(df_autores,df_libros, how = "inner", left_on = 0, right_on = "Autor_libro")
df_movies_limpio.rename(columns={"index":"ID_Peliculas"}, inplace = True )

In [7]:
for index, row in df_directores.iterrows():
        idDirector = engine.execute(f"""select idDirector from director WHERE idDirector = "{row['ID_Directores']}";""")

        if len(list(idDirector)) > 0:
                print("Esta id ya existe")
        else:
                try:
                        engine.execute(f"""
                                INSERT INTO Director (idDirector,Director) VALUES
                                ("{row['ID_Directores']}","{row[0]}");""")

                except:
                        print("no chuta")
                        pass

In [8]:
for index, row in df_movies_limpio.iterrows():
        idRating = engine.execute(f"""select idRating from rating WHERE idRating = "{row['ID_Rating']}";""")

        if len(list(idRating)) > 0:
                print("Esta id ya existe")
        else:

                try:
                        engine.execute(f"""
                                INSERT INTO rating (idRating, IMDB_rating, Votos_IMDB) VALUES
                                ("{row['ID_Rating']}","{row['IMDB_Rating']}", "{row['No_of_Votes']}");""")

                except:
                        print("no chuta")
                        pass

In [18]:
df_movies_limpio["IMDB_Rating"].count()

656

In [10]:
for index, row in df_autores.iterrows():
        
        idAutores = engine.execute(f"""select idAutor from Autor WHERE idAutor = "{row['ID_Autores']}";""")

        if len(list(idAutores)) > 0:
                print("Esta id ya existe")
        else:
                try:
                        engine.execute(f"""
                                INSERT INTO Autor (idAutor, Autor_libro) VALUES
                                ("{row['ID_Autores']}","{row[0]}");""")

                except:
                        print("no chuta")
                        pass

In [11]:
df_libros_limpio.head(1)

,ID_Autores,0,ID_Libros,Autor_libro,Nota_promedio_libro,Votos_libro
0,0,Stephen King,0,Stephen King,8.96,2430.0

In [14]:
for index, row in df_libros_limpio.iterrows():
        
        idLibros = engine.execute(f"""select idLibros from libros WHERE idLibros = "{row['ID_Libros']}";""")

        if len(list(idLibros)) > 0:
                print("Esta id ya existe")
        else:
                try:
                        engine.execute(f"""
                                INSERT INTO libros (idLibros, Nota_promedio_libro, Votos_libro, Autor_idAutor) VALUES
                                ("{row['ID_Libros']}","{row['Nota_promedio_libro']}","{row['Votos_libro']}", "{row['ID_Autores']}");""")

                except:
                        print("no chuta")
                        pass

In [ ]:
for index, row in df_movies_limpio.iterrows():
        
        idPeliculas = engine.execute(f"""select idPeliculas from peliculas WHERE idPeliculas = "{row['ID_Peliculas']}";""")

        if len(list(idPeliculas)) > 0:
                print("Esta id ya existe")
        else:
                try:
                        engine.execute(f"""
                                INSERT INTO peliculas (Series_Title, Released_Year, Runtime, Genre, Overview, Gross) VALUES
                                ("{row['Series_Title']}", "{row['Released_Year']}", "{row['Runtime']}", "{row['Genre']}", "{row['Overview']}", "{row['Gross']}");""")
                
                except:
                
                        pass

In [ ]:
query = """SELECT * FROM proyecto_etl.peliculas"""
sql = pd.read_sql(query, engine)

In [ ]:
sql